In [2]:
# print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
# print range 10 to 20
for i in range(10,20):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [7]:
# Print number of items in the list by using 'len'
items = [10, 20, 14, 55, 43, 87, 76]
print(items)
print("Number of item in the List:")
print(len(items))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List:
7

In [8]:
# Artificial Intelligence : print char by char
str = "Artificial Intelligence"
for char in str:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [10]:
items = ["Your Name","Your Age","Your Profession"]
hiphen = "-"
for item in items:
    concat_hiphen = hiphen+item+hiphen
    print( concat_hiphen)

-Your Name-
-Your Age-
-Your Profession-

In [14]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples
data = (1, 'Welcome', 2, 'Hope')
print(data)

(1, 'Welcome', 2, 'Hope')

In [18]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples
dt1 = (0,1,2,3)
dt2 = ('python','Hope')
tup = (dt1, dt2)
print(tup)

((0, 1, 2, 3), ('python', 'Hope'))

In [26]:
# print Odd Numbers in the list
tup = (20,10,16,19,25,1,276,188)
print(tup)
for num in tup:
    if((num % 2) !=0 ):
        print(f"{num} is Odd Number")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is Odd Number
25 is Odd Number
1 is Odd Number

In [27]:
# print Even numbers in the list
tup = (20,10,16,19,25,1,276,188)
print(tup)
for num in tup:
    if((num % 2) ==0 ):
        print(f"{num} is Even Number")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is Even Number
10 is Even Number
16 is Even Number
276 is Even Number
188 is Even Number